* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(126, 195, 238);
    border: 1px solid rgb(30, 15, 84);
    border-radius: 10px;

}

body {
    background-color: rgb(45, 10, 60);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pali {
    width: 40rem;
    background: whitesmoke;
    padding: 5rem 3rem;
    border-radius: 5px;;
}

.pali > * {
    border: none;
    outline: none;
    padding: 1rem 5px;
}

input {
    width: 70%;
    border: none;
    border-bottom: 4px solid rgb(206, 206, 31);
    padding: 1rem 5px;
    font-size: 1.6rem;
}

button {
    width: 25%;
    padding: 1rem 5px;
    border: none;
    border-radius: 3px;
    color: white;
    background: rgb(4, 81, 67);
    cursor: pointer;
}

p {
    text-align: center;
    font-size: 2.4rem;
    margin: 0.5rem;
    font-weight: bold;
    padding-top: 1rem;
}

.header1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: rgb(74, 6, 46);
    margin-bottom: 1.5rem;
    padding: 15px;
}